crewai
crewai-tools
google.cloud.logging
langchain
langchain-anthropic
langchain-community
langchain-groq
langchain-openai
langchain-ollama
streamlit
python-dotenv
pdfminer.six
sqlalchemy
psycopg2-binary
snowflake-connector-python
markdown